body {
    background-color: grey;
}


#medialinks {
    margin-top: 20px;
    margin-bottom: 25px;
  }
  
  .fa {
    padding: 18px;
    font-size: 28px;
    width: 68px;
    text-align: center;
    text-decoration: none;
  }
  
  .fa:hover {
    opacity: 0.4;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
    margin: 7px 7px 7px 7px;
  }
  
  .fa-github {
    background: #171515;
    color: white;
    margin: 7px 7px 7px 7px;
  }
  button {
    background-color: red;
    cursor: pointer;
    border: 1px solid white
  }
  
  button:hover {
    box-shadow: 0 5px 10px rgb(255, 255, 255), 0 0px 10px rgb(255, 255, 255);
  }

  #information {
    background-color: white;
    margin-top: 28px;
  }

  .experiencecard {
    margin-bottom: 20px;
  }

  #bar {
background-color: #171515;
  }

  #summary {
    margin-top: 20px;
  }